* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-box-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  color: #271a45;
}

body {
  height: 100vh;
  background-color: #0b0a11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.8125rem;

  position: relative;
  width: 54.6875rem;
  height: 31.125rem;

  background: #d9cdf7;
  border-radius: 9.60297px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;

  width: 17.5625rem;
  height: 5.125rem;

  flex: none;
  order: 0;
  flex-grow: 0;

  margin-bottom: 1.25rem;
}
.code {
  font-family: 'Lato', sans-serif;
  font-size: 0.625rem;
  line-height: 100%;
}

.product {
  font-family: 'Crimson Pro', serif;
  font-weight: 37.5rem;
  font-size: 2rem;
}

.price {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 100%;
}

.btn-360 {
  background-color: #d9cdf7;

  position: absolute;
  left: 40.5%;
  top: 28%;
  border: none;
  border-radius: 50%;
}

.btn-add {
  width: 9.25rem;
  height: 2rem;

  font-family: 'Lato', sans-serif;
  font-size: 12px;
  background: #d9cdf7;

  border: 0.5px solid #0b0a11;
  border-radius: 999px;
}

.sofa {
  width: 28.0625rem;
  height: 13.935rem;
}

@media screen and (max-width: 960px) {
  .container {
    width: 80%;
    height: 55%;
  }
  .product {
    font-size: 1.8rem;
  }
  .sofa {
    width: 23rem;
  }
  .btn-360 {
    border-radius: 20%;
    top: 28%;
    left: 45%;
  }
}

@media screen and (max-width: 780px) {
  .container {
    width: 80%;
    height: 40%;
  }
  .product {
    font-size: 1.1rem;
  }
  .sofa {
    width: 19rem;
  }
  .btn-360 {
    top: 22%;
    left: 45%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: block;
    width: 50%;
    height: 60%;
    margin-right: 20rm;
  }
  .content {
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-top: 2rem;
  }
  .product {
    font-size: 1.2rem;
  }
  .sofa {
    margin-top: 5rem;
    width: 12rem;
    height: 8rem;
    margin-left: 1rem;
  }
  .btn-360 {
    top: 13%;
    left: 65%;
  }

  .img-btn {
    width: 19px;
    height: 19px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    display: block;
    width: 50%;
    height: 60%;
    margin-right: 20rm;
  }
  .content {
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-top: 2rem;
  }
  .product {
    font-size: 1.1rem;
  }
  .sofa {
    width: 11rem;
    height: 8rem;
    margin-top: 5rem;
    margin-left: 2rem;
  }
  .btn-360 {
    top: 13%;
    left: 67%;
  }
}
